:root {
    --fonte-principal: 'Prompt', sans-serif;
    --text-color: #e1e1e1;
    --cor-primaria: #81FE88;
    --itens-background: #171d1f;
    --background-color: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: var(--fonte-principal);
    background: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px 0;
    width: 177px;
    height: 100vh;
    border-radius: 8px;
    background: var(--itens-background);
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.container-list a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.container-list img {
    width: 32px;
    height: 32px;
}

.link-destaque a {
    margin: 50px 0 20px;
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 1.3rem;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    padding: 8px 16px;
}

